$primaryColor: #eeffcc;
$mainTextColor: #F8F8F2;
$backGroundColor: #272822;
$channelTitleColor: #A6E22E;
$usernameTitleColor: #FD971F;
$usernameMessageColor: #FFE792;
$urlcolor: #66D9EF;

/*****************************************************************/

%commonTextStyle {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    color: $mainTextColor;
}

body {
    @extend %commonTextStyle;
    background-color: $backGroundColor;
}

#channel_display {
    color: $channelTitleColor;
}

#username_display {
    color: $usernameTitleColor;
}

.username_message {
    color: $usernameMessageColor;
}

a:link, a:visited {
    color: #66D9EF;
}