{% extends "layout.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <h5>Channels list</h5>
                <ul id="channels"></ul>
                <input id="channel_name_input" type="text" placeholder="Search or create new...">
                <button id="go_to_channel">Go</button>
            </div>
            <div class="col-sm-1">
                <br/>
            </div>
            <div class="col-sm-7">
                <p>Welcome  <span id="username_display"></span>!</p>
                <p>The current channel is: <span id="channel_display"></span></p>
                <br/>
                <ul id="messages">
                </ul>
                <br/>
                <input id="message_text" type="text" placeholder="Type something..." style="width: 100%">
                <button id="send_message">Send</button>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}




